<h3>instructions</h3>
we'll show you a picture. you have to describe it and help the other players guess before time runs out!

<hr/>
how many players? <br/>

<a href="/games/<%= gamename %>/play?players=2">two</a> <br/>
<a href="/games/<%= gamename %>/play?players=3">three</a> <br/>
<a href="/games/<%= gamename %>/play?players=4">four</a> <br/>
