body {
    overflow:hidden;
    background: #d7d7d7;
    margin:0;
    padding:0;
}

a {
    border: 1px solid black;
    background-color: white;
    // font:  ArialRoundedMTBold;
    font-family: Helvetica Neue Condensed Black;
    font-size: 18px;
}

.option{
	display:none;
}

.navbar {
    position: absolute;
    bottom: 20px;
    width: 100%;
    border: 1px solid #999999;
    font:  12px;
}

// tipper game

.tray {
    border: 1px solid yellow;
    position: absolute;
    top: 100px;
    width:640px;
    left: 0px;
    z-index: 5;
}

.beer {
    position: absolute;
    top:   -120px;
    left: 80px;
    height: 100px;
}

.replay {
    position: relative;
    width: 100%;
    top:   50%;
    text-align: center;
    background-color: white;
    font-size: 36px;
    font-family: impact, sans;
    visibility: hidden;
    border-radius: 15px;
}

.dbg {
    font: 12px;
    color: graytext;
    position: absolute;
    border: 1px solid red;
    bottom: 100px;
    left: 0px;
    z-index: 10;
    background-color: white;
    visibility: hidden;
}

p { color: blue; }
h3{ color: red; }

.pagetitle {
    text-align: center;
    font-size: 24px;
    background-color: #ffff66;
    padding: 10px;
}

.roundbox {
    border:  1px solid #808080;
    background-color: white;
    margin: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.boxtitle {
    text-align: center;
}

.button {
    border:  1px solid black;
    background-color: white;
    margin: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.greenbutton {
    border:  1px solid black;
    background-color: #99ff99;
    margin: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.center {
    text-align: center;
}

.imagebox {
    text-align: center;
}
