<h3>instructions</h3>
do what it says before time runs out!<br/>
pass the phone after you move.

<hr/>
how many players? <br/>

<a href="/games/<%= gamename %>/play?players=2">two</a> <br/>
<a href="/games/<%= gamename %>/play?players=3">three</a> <br/>
<a href="/games/<%= gamename %>/play?players=4">four</a> <br/>
