<% pages=['game_menu','landing','offer_wall','score_screen','top_up','share','lobby','index',]; %>
<% for(i=0; i<pages.length; i++){ %>
	<a class='button' href='/<%= pages[i] %>'><%= pages[i] %></a></br>
<% } %>