<script>
function chooseGame(gameName){
	fz.game=gameName;
	fz.save();
	window.location.assign('/lobby');
}
</script>




<h1>Choose a Game</h1>
<% for(i=0; i < games.length; i++){ %>

<a class="button" href="javascript:chooseGame('<%=games[i]%>')">
    <%=games[i]%>
</a><br/>


<%}%>