<script>
function chooseGame(gameName){
	fz.game=gameName;
	writeCookies(fz);
	window.location.assign('/lobby');
}
</script>




<h1>Choose a Game</h1>
<% games=['hotpotato','guessthepic','tipper'];%>
<% for(i=1;i<=games.length;i++){%>
<div onclick="chooseGame('<%=games[i-1]%>')"><%=games[i-1]%></div>
<%}%>