<script>
	function init(){
	$('#header').hide();
	$('#footer').hide();
		setTimeout(window.location.assign('/game_menu'),500);
	}
</script>




<div class='fullscreen'>
<img src='/images/startup.png'/>
</div>