<script>
	function playAgain(){
		window.location.assign('/games/'+fz.game+'/rules');
	}
</script>

<a class='button' href='/game_menu'>back to game menu</a>
<a class='button' href='/share'>share</a>
<a class='button' href='javascript:playAgain();'>play again</a>
