whats new! <br/>

<ul>
<li> <a href="games">new games!</a></li>
<li> <a href="feed">friends updates</a></li>
</ul>
        
Tip! <a href="save">save this game to your phone </a>and play offline later!
