<h3>instructions</h3>
If you are the drawer, draw the picture.</br>
If you are the guesser, try to figure out</br>
what is being drawn.

<hr/>
how many players? <br/>

<a href="/games/<%= gamename %>/play?players=2">two</a> <br/>
<a href="/games/<%= gamename %>/play?players=3">three</a> <br/>
<a href="/games/<%= gamename %>/play?players=4">four</a> <br/>
