<script type="text/javascript"  src="/games/tipper/game.js" ></script>

<div id="tray">

    <img src="/games/tipper/img/tray.gif" />
    <img src="/games/tipper/img/beer.png" id="beer1" class="beer" />

</div>

<div id="replay" class="replay" onclick="playAgain()">
you dropped it! <br>
play again!
</div>

<div class="dbg" id="hud">
<div id='dbg1'>dbg1</div>
<div id='dbg2'>dbg2</div>
<div id='dbg3'>dbg3</div>
<div id='dbg4'>dbg4</div>
</div>